@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    font-family: "Roboto";
}

body,
header,
body,
iframe {
    max-width: 100%;
}

.li {
    background: radial-gradient(white, lightgreen);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-height: 100px;
    max-width: 200px;
    padding: 15px 20px 15px 2px;
    border-radius: 15px;
    color: green;
    margin: 15px;
}

.todos-bg-container {
    background: linear-gradient(90deg, red, blue);
    height: 90vh;
    overflow: auto;
    color: white;
    font-weight: bold;
    border: 2px solid white;
}

.todos-heading {
    text-align: center;
    font-family: "Roboto";
    font-size: 46px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
}

.create-task-heading {
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 700;
}

.create-task-heading-subpart {
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 500;
}

.todo-items-heading {
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 700;
}

.todo-items-heading-subpart {
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 500;
}

.todo-items-container {
    margin: 0;
    padding: 0;
}

.todo-item-container {
    margin-top: 15px;
}

.todo-user-input {
    background-color: white;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #e4e7eb;
    border-radius: 10px;
    margin-top: 10px;
    padding: 15px;
}

.add-todo-button {
    color: white;
    background-color: #4c63b6;
    font-family: "Roboto";
    font-size: 18px;
    border-width: 0;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
}

.label-container {
    background-color: #e6f6ff;
    width: 100%;
    border-style: solid;
    border-width: 5px;
    border-color: blue;
    border-right: none;
    border-top: none;
    border-bottom: none;
    border-radius: 4px;
}

.checkbox-input {
    width: 20px;
    height: 20px;
    margin-top: 12px;
    margin-right: 12px;
}

.checkbox-label {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    width: 82%;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
}

.delete-icon-container {
    text-align: right;
    width: 18%;
}

.delete-icon {
    padding: 15px;
}

.line-through {
    text-decoration: line-through;
}

nav {
    z-index: 99999;

}

.footer_hr {
    border: 1px solid #5a7184;
    background-color: #5a7184;
    color: #5a7184;
    width: 100vw;
    margin: auto;
}

.table {
    overflow-y: auto;
    font-size: 17px;
    max-height: 412px;
    border: solid 1px white;
    margin: 5px 0px;
    background: linear-gradient(90deg, red, blue);
    box-shadow: 1px 1px 30px 5px yellow;
}

.header {
    z-index: 99999;


    box-shadow: 0px 10px 50px 5px blue;
    width: 100vw;
    border-bottom: 2px solid white;
    display: block;

    top: 0px;
    height: 78px;


}

.puppy-image {
    width: 100%;
    height: 30vh;
}

.like-icon {
    color: #cbd2d9;
    font-size: 40px;
}

::-webkit-scrollbar {
    width: 5px;
}



::-webkit-scrollbar-thumb {
    background-color: #ceeece;
    border-radius: 15px;

}

.like-button {
    color: #9aa5b1;
    background-color: #cbd2d9;
    font-family: "Roboto";
    font-size: 14px;
    width: 100px;
    height: 40px;
    border-width: 0;
    border-radius: 8px;
}

.counter-container {
    text-align: center;
    border: white 2px solid;
    padding: 15px;
    margin: 15px 0px;
}

#count {
    font-size: 100px;
    font-weight: bold;
}

#increaseButton,
#decreaseButton,
#resetButton,
.guessbtn {
    border: 2px white solid;
    background: red;
    color: white;
    border-radius: 15px;
    padding: 15px;
}

.image {

    background-size: cover;
    height: 36vh;

    min-height: 50%;
    max-width: 100%;

}

footer {
    z-index: 99999;
}

.main-heading {
    font-weight: bold;


    font-family: Roboto;
    text-decoration: underline;
    text-align: center;
}

.br {

    background: linear-gradient(90deg, red, blue)
}
.bg-clr {

    background-color: #faf0fc;
    height: 100vh;
}
.mg {
    margin: 5px 0px;

}

.btn {
    color: white;
    border-style: solid;
    margin: 5px;

    border-width: 1px;
    border-color: white;

}
